.content {
    position: relative;
    box-sizing: content-box;
    margin-top: -5px;
    height: max-content;
    max-height: 50vh;
    padding-bottom: 100vh; // 将以下所有内容填充背景色
    background-color: #FAFAFA;
    overflow: scroll;

    .leftContent,
    .rightContent {
        display: inline-block;
        box-sizing: border-box;
        overflow: hidden;
        width: 50vw;
        vertical-align: top; // 行内元素基线调整
    }
}